<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="NPC_MakerSpace_CheckIn.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <NPC_MakerSpace_CheckIn.Properties.Settings>
            <setting name="class_list_dir_name" serializeAs="String">
                <value>C:\Users\decyple</value>
            </setting>
            <setting name="class_list_filename" serializeAs="String">
                <value>class_list_new.dat</value>
            </setting>
            <setting name="reasons_list_dir_name" serializeAs="String">
                <value>C:\Users\decyple</value>
            </setting>
            <setting name="reasons_list_filename" serializeAs="String">
                <value>reasons.dat</value>
            </setting>
            <setting name="orgs_list_dir_name" serializeAs="String">
                <value>C:\Users\decyple</value>
            </setting>
            <setting name="orgs_list_filename" serializeAs="String">
                <value>student_orgs.dat</value>
            </setting>
            <setting name="log_file_dir_name" serializeAs="String">
                <value>C:\Users\decyple\Documents</value>
            </setting>
            <setting name="log_file_filename" serializeAs="String">
                <value>NPC_MakerSpace_Check_In_Out.dat</value>
            </setting>
        </NPC_MakerSpace_CheckIn.Properties.Settings>
    </userSettings>
</configuration>